#output {
  display: flex;
  flex-direction: column;
}

body.split-output #output > .active {
  width: 100%;
  height: 50%;
}

#result-box {
  border-top: 2px solid black;
  flex-grow: 1;
  max-height: 100%;
}
