/* The screen is big enough to show the left nav bar. */
@media screen and (min-width: 1100px) {
  #left-nav {
    display: inline-block;
  }

  #content-and-comments {
    width: 800px;
  }

  .nav-link {
    width: initial;
  }
}
