@font-face {
  font-family: 'Fixedsys';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fixedsys/fixedsys.eot');
  src: url('../fonts/fixedsys/fixedsys?#iefix') format('embedded-opentype'),
    url('../fonts/fixedsys/fixedsys.woff') format('woff'),
    url('../fonts/fixedsys/fixedsys.ttf') format('truetype'),
    url('../fonts/fixedsys/fixedsys#FixedsysExcelsior301Regular') format('svg');
  -webkit-font-smoothing: aliased;
  font-smooth: never;
}

body {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  color: #323232;
  background-image: none;
  transition: background-image 1s linear;
}

.container {
  width: 100%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  background-color: #dddddd;
  margin-bottom: 25px;
  border: thin solid #323232;
}

.navbar-brand {
  font-family: 'Fixedsys', monospace;
  font-size: 24pt;
}

.nav-link {
  font-family: 'Fixedsys', monospace;
  font-size: 16pt;
}

.nav-img {
  height: 32px;
}

.previous-and-next-links {
  display: flex;
  justify-content: space-between;
}

.left-nav-and-content {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  #left-nav {
    display: none;
  }
}

#left-nav {
  background-color: #fbfbfb;
  border: thin solid #323232;
  padding: 25px;
  margin-right:25px;
  height: fit-content;
}

#left-nav ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

/* Nested ul should be indented a bit. */
#left-nav ul ul {
  padding-left: 5px;
}

#left-nav .left-nav-tutorial-section {
  margin-top: 10px;
}

#left-nav .left-nav-tutorial-section li {
  margin-top: 5px;
}

#left-nav .left-nav-blog-list li{
  margin-top: 5px;
}

#left-nav .current {
  font-weight: bolder;
}

/* Hide sections when we're not in them. */
#left-nav .not-current + ul {
  display: none;
}

.content {
  background-color: #fbfbfb;
  border: thin solid #323232;
  padding: 25px;
  flex-grow: 1;
  /* Prevent code blocks from making content wider than container. */
  overflow: auto;
}

p {
  font-size: 1.1em;
}

a {
  transition: color 1s;
  color: #4488ff;
  text-decoration: none;
}

a:hover, a:focus {
  color: #ff8844;
  text-decoration: underline;
}

/* Surrounds code blocks */
pre {
  border: thin solid #cccccc;
  padding: 20px;
  overflow-x: scroll;
  tab-size: 2;
}

/* Code inside code block */
pre code {
  color:black;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

/* Inline code */
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.content img {
  max-width:95%;
}

.jumbotron {
  padding: 25px;
}

.jumbotron h1 {
  font-size: 68px;
}

.jumbotron h2 {
  font-size: 34px;
}

.jumbotron p {
  font-size: 23px;
}

.transition {
  -webkit-transition: background-color 10s linear, color 10s linear;
  transition: background-color 10s linear, color 10s linear;
}

#markdown-toc {
  border: thin solid #323232;
  border-radius: 10px;
  width: fit-content;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.thumbnail-link-container {
  /* Center the thumbnail divs inside this container. */
  text-align: center;
}

.tutorial-link-box {
  width: 200px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 10px;
}

.tutorial-link-box .thumbnail-image {
  width:200px;
  height:100px;
  max-width:100%;
  border: thin solid #323232;
}

.tutorial-link-box a.title {
  font-size: 1.2em;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tutorial-link-box p {
  margin-top: 0;
}

/* Tags */
.label {
  padding: 5px;
  border: thin solid #cccccc;
}

td, th  {
  padding: 10px;
  border: thin solid #cccccc;
}

footer {
  margin-top: 50px;
  margin-bottom: 25px;
  padding-top:25px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #fbfbfb;
  border: thin solid #323232;
}

.footer-img {
  height: 32px;
}