body{
  	background: url(http://photos.kevinworkman.com/Pictures/2013/i-2WjDL3s/0/O/lights3.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #00ff00;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
