.container {
  width: 100%;
}

#hero-section {
  display: none;
}

#left-nav {
  display: none;
}

#sections {
  width: 100%;
}

#right-nav {
  display: none;
}

/* Thumbnails should fill the width. */
.tutorial-link-box {
  width: 95%;
}
