---
layout: default
title: Input
categories: [examples,processing,input]
thumbnail: /examples/processing/input/images/bouncing-balls-1.gif
sort-key: 900
meta-title: User Input Examples
meta-description: These example programs show how to react to user input in Processing.
meta-image: /examples/processing/input/images/bouncing-balls-2.png
---
<h1>Input</h1>

{% include url-thumbnail.html url="/examples/processing/input/draggable-circle" %}
{% include url-thumbnail.html url="/examples/processing/input/bouncing-balls" %}
{% include url-thumbnail.html url="/examples/processing/input/random-walkers" %}
{% include url-thumbnail.html url="/examples/processing/input/pumpkin-patch" %}