---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Happy Coding</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="article:published_time" content="" />
    <meta property="twitter:url" content="https://HappyCoding.io/" />
    <meta property="og:url" content="https://HappyCoding.io/" />
    <meta name="twitter:site" content="@TheKevinWorkman">
    <meta name="twitter:creator" content="@TheKevinWorkman">
    <meta property="og:site_name" content="Happy Coding" /><meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="https://HappyCoding.io/logo-vertical-large.png" />
    <meta property="og:image" content="https://HappyCoding.io/logo-vertical-large.png" />
    <meta name="twitter:title" content="Happy Coding">
    <meta property="og:title" content="Happy Coding" />
    <meta property="twitter:description" content="HappyCoding.io is a collection of coding tutorials, and a community of folks just like you learning how to code." />
    <meta property="og:description" content="HappyCoding.io is a collection of coding tutorials, and a community of folks just like you learning how to code." />
    <meta name="description" content="HappyCoding.io is a collection of coding tutorials, and a community of folks just like you learning how to code.">

    <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Happy Coding" />

    <meta name="google-site-verification"
        content="_MHA_HyjRN41hU7ocjslu4AdeVWgiS_9QAiSuonBmEI" />


    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/tocbot.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/small.css">
    <link rel="stylesheet" type="text/css" href="/css/medium.css">
    <link rel="stylesheet" type="text/css" href="/css/large.css">


    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

    <script async src="//assets.codepen.io/assets/embed/ei.js"></script><script src="/js/tocbot.min.js"></script>
    <script src="/js/modernizr-transitions.js"></script>
    <script src="/js/main.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <style>

      body {
        /* Fix bug in AOS that adds margins for fade-left items. */
        overflow-x: hidden;
      }

      .container {
        overflow-x: hidden;
      }

      .content {
        width: 100%;
      }

      #sections {
        width: 100%;
      }

      .section {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;

        box-sizing: border-box;

        /* min-height: 100vh; */
      }

      .tutorial-link-box {
        background-color:#fff6;
        text-align: center;
      }
    </style>

    <script>

      function animateHappyCodingOut() {
        const codingSpan = document.getElementById('coding-span');
        codingSpan.style.color = 'transparent';

        setTimeout(animateHappyCodingIn, 500);
      }

      let prevWord = 'Coding';
      function animateHappyCodingIn() {
        const words = ['Coding', 'Arting', 'Building', 'Changing', 'Compiling', 'Composing', 'Computing', 'Creating', 'Designing', 'Discovering', 'Doing', 'Finding', 'Generating', 'Hacking', 'Imagining', 'Inventing', 'Learning', 'Making', 'Nerding', 'Programming', 'Starting',];

        let word;
        do {
          word = words[Math.floor(words.length * Math.random())];
        } while (word == prevWord);

        prevWord = word;

        const codingSpan = document.getElementById('coding-span');
        codingSpan.innerText = word;

        codingSpan.style.color = '#323232';

        setTimeout(animateHappyCodingOut, 3000);
      }

      function load() {

        setTimeout(animateHappyCodingOut, 3000);

        AOS.init({});

        setRandomBackground();
      }

    </script>

    <script src="https://forum.happycoding.io/javascripts/embed-topics.js"></script>

  </head>
  <body onload="load();">
    <div class="container">
      <nav>
        <a class="navbar-home" href="/">Happy Coding</a>
        <div class="nav-links">
          <a class="nav-link" href="/tutorials">Tutorials</a>
          <a class="nav-link" href="/blog">Blog</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="http://forum.HappyCoding.io">Forum</a>
          <a id="social-nav-link" href="https://twitter.com/TheKevinWorkman">
            <img id="social-nav-img" class="social-img"
                src="/images/twitter.png" alt="twitter" />
          </a>
          <script>setRandomSocialLink();</script>
        </div>
      </nav>

      <div class="left-nav-and-sections">
        <div id="sections">


<!--style="background: radial-gradient(circle at 50% 15%, #fbfbfb, #ffbb88)"-->

        <div class="section content" id="tutorials"
          style="background: repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px),
     repeating-linear-gradient(-45deg, rgba(255, 105, 180, .5), rgba(255, 105, 180, .5) 1px, transparent 1px, transparent 15px); background-color: #fbfbfb;">

          <h2 style="font-size:75px; text-align:center; margin-bottom:0; font-family: 'HappyCoding', monospace; width:fit-content; margin-left: auto; margin-right: auto; background-color:#fff6;">Learn to code!</h2>

          <hr style="width: 95%;">

          <p style="font-size:25px; text-align:center; background-color:#fff6;">Code is more than just ones and zeroes. Code is a <strong>creative process</strong> that lets you express yourself, reach other people, generate art, and make stuff in new ways every day.</p>

          <hr style="width: 95%;">

          <style>
            #tutorials .tutorial-link-box .title {
              font-weight: bold;
            }

          </style>

          <div class="thumbnail-link-container">
            {% include url-thumbnail.html url="/tutorials/how-to/learn-coding" %}
            {% include url-thumbnail.html url="/tutorials/p5js/" %}
            {% include url-thumbnail.html url="/tutorials/javascript/" %}
            {% include url-thumbnail.html url="/tutorials/processing/" %}
            {% include url-thumbnail.html url="/tutorials/java/" %}
            {% include url-thumbnail.html url="/tutorials/java-server/" %}
            {% include url-thumbnail.html url="/tutorials/google-cloud/" %}
            {% include url-thumbnail.html url="/tutorials/android/" %}
            {% include url-thumbnail.html url="/tutorials/libgdx/" %}
            {% include url-thumbnail.html url="/tutorials/how-to/" %}
            {% include url-thumbnail.html url="/tutorials/interviewing/" %}
          </div>

      </div> <!-- end section content -->

      <!-- background: radial-gradient(circle at 50% 50%, #fbfbfb, #bbffbb); -->

      <div data-aos="fade-up" class="section content" style="align-items: start;
      background: repeating-radial-gradient(
      circle at 0 0,
      #aaffaa,
      #aaffaa 10px,
      #fbfbfb 10px,
      #fbfbfb 20px
    );">
        <h2 style="font-size:100px; font-family: 'HappyCoding', monospace;">Happy <span id="coding-span" style="display: inline-block; transition: color 500ms ease-in-out">Coding</span></h2>
      </div>

      <div data-aos="fade-up" class="section content" style="display:flex; align-items: center; background:radial-gradient(circle at 25% 50%, #fbfbfb, #ffffbb);">
        <div style="display:flex; justify-content:space-evenly; align-items:center; width:100%;">

          <img src="/images/pixel-kevin.png"
               alt="Pixelated Kevin and Stanley"
               style="width: 30%; height:fit-content; border: thin solid #323232;" />

          <div style="width: 50%;">
            <h2 style="font-size:75px; margin-bottom:0; font-family: 'HappyCoding', monospace;">Who are you?</h2>

            <hr>

            <p style="font-size:25px;">Hi! I'm <a href="https://kevinworkman.com">Kevin</a>!</p>

            <p style="font-size:25px;">By day I'm a software engineer at Google, and by night I teach at <a href="https://www.millersville.edu">Millersville University</a>.

            <p style="font-size:25px;">By later night I maintain this site. I do this for free, in my spare time, just for fun. <strong>I'm a person, not a company!</strong></p>

            <p style="font-size:25px;">I support diversity in tech, and I believe I have a responsibility to open the door for new coders- especially those who feel unwelcome, or who might not know how fun it is. Happy Coding is my attempt to show new folks a path from the fundamentals of coding, to every concept I've learned about so far.</p>

            <p style="font-size:25px;">I love talking about all of this stuff, so please come say "hello world" on the <a href="https://forum.happycoding.io">forum</a>!</p>
          </div>

        </div>
      </div> <!-- end section content -->


      <div class="section content" data-aos="fade-up" style="justify-content: space-evenly; background: repeating-linear-gradient(
        45deg,
        #ffdddd,
        #ffdddd 10px,
        #fbfbfb 10px,
        #fbfbfb 20px);">

        <style>
          .promise-div {
            border: thin solid #323232;
            padding: 5px;
            background:#fbfbfb;
            margin-bottom:50px;
            width:300px;
            text-align:center;
          }
        </style>

        <p style="font-size:25px; background:#fbfbfb;">I believe the internet can be <strong>better</strong> than what the big tech companies have turned it into. Happy Coding is my attempt to share my knowledge, with these promises:</p>

        <div style="font-size:25px; width: 100%; display:flex; flex-wrap: wrap; justify-content: space-around;">
          <div data-aos="fade-right" class="promise-div">
            <h3>No annoying ads</h3>
            <hr>
            <p>Happy Coding is ad-free!</p>
          </div>

          <div data-aos="fade-up" class="promise-div">
            <h3>No desperate popups</h3>
            <hr>
            <p>Why do websites want to show notifications anyway?</p>
          </div>

          <div data-aos="fade-left" class="promise-div">
            <h3>No clickbait</h3>
            <hr>
            <p>No shady SEO, no dark patterns, no engagement hacks.</p>
          </div>

          <div data-aos="fade-right" class="promise-div">
            <h3>Human content</h3>
            <hr>
            <p>Every tutorial and article is written by a real life human: me!</p>
          </div>

          <div data-aos="fade-up" class="promise-div">
            <h3>Authenticity</h3>
            <hr>
            <p>I post about stuff I'm genuinely interested in!</p>
          </div>

          <div data-aos="fade-left" class="promise-div">
            <h3>Small tech</h3>
            <hr>
            <p>Tired of big tech nonsense? Me too! I'm doing this for fun, not for shareholder profit.</p>
          </div>

          <div data-aos="fade-up" class="promise-div">
            <h3>Open Source</h3>
            <hr>
            <p><a href="/license.html">Happy Coding is open source.</a> You can use anything you find on Happy Coding, as long as you link back here.</p>
          </div>

        </div>


      </div> <!-- end section content -->

      <div class="section content" data-aos="fade-up" style="text-align:center; background: radial-gradient(circle at 50% 25%, #fbfbfb, #bbffff);"">
       <p style="font-size:25px; background-color: #fbfbfb; padding: 10px;">Most importantly, Happy Coding is a <strong><a href="https://forum.happycoding.io">community</a></strong> of people learning and creating together.</p>

       <p style="font-size:25px; background-color: #fbfbfb; padding: 10px;">Here are a few recent posts from Happy Coders:</p>

       <style>
         d-topics-list {
           display: block;
           width: 100%;
         }

         d-topics-list iframe {
           width: 100%;
         }
       </style>

       <d-topics-list discourse-url="https://forum.happycoding.io" per-page="7" template="complete"></d-topics-list>

       <p style="font-size:25px; background-color: #fbfbfb; padding: 10px;">
          If you're stuck on something, have a question, or just want to say hi, <br> <strong><a href="https://forum.happycoding.io">come say "hello world" on the Happy Coding forum!</a></strong>
       </p>

     </div>

     <style>
       #new-tutorials-div img {
         max-width: 100%;
       }
     </style>

     <div class="section content" id="new-tutorials-div" data-aos="fade-up" style="
     background:
    radial-gradient(
      circle farthest-side at top left,
      rgba(0, 255, 0, 0.5),
      transparent
    ),
    radial-gradient(
      circle farthest-side at top right,
      rgba(0, 200, 200, 0.5),
      transparent
    ),
    radial-gradient(
      circle farthest-side at bottom left,
      rgba(200, 0, 255, 0.5),
      transparent
    ),
    radial-gradient(
      circle farthest-side at bottom right,
      rgb(32, 32, 32),
      transparent
    );">

       <h2 style="font-size:75px; margin-bottom:0; font-family: 'HappyCoding', monospace;">New Tutorials</h2>

       <hr style="width: 95%;">

       {% for post in site.categories.tutorials limit:1 %}
         {% include url-thumbnail.html url=post.url fullsize=true %}
       {% endfor %}

       <hr style="width: 95%;">

       <style>
         /* Hide the most recent post because it's shown big above. */
         #recent-tutorials .tutorial-link-box:first-child {
           display: none;
         }
       </style>

       <div id="recent-tutorials" class="thumbnail-link-container">
         {% include recent-posts.html posts=site.categories.tutorials count=9 %}
       </div>
     </div> <!-- end section content -->

<div class="section content" data-aos="fade-up" style="background-image: radial-gradient(#8aff00 35%, transparent 35%);
  background-size: 8px 8px;">

    <h2 style="font-size:75px; margin-bottom:0; font-family: 'HappyCoding', monospace;">Newest Video</h2>

    <hr style="width: 95%; margin-bottom:25px;">

    <div style="width: 100%;">
      <div style="padding-top: 56.25%; position: relative;">
        <iframe style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%;" height=720 width=1280 src="https://www.youtube.com/embed/videoseries?list=PLty5Qt07EFvCRZ79uzn7ofzwPdlKpLH4h" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <p style="font-size:50px; background:#fbfbfb66; padding:10px;"><a href="https://www.youtube.com/playlist?list=PLty5Qt07EFvCRZ79uzn7ofzwPdlKpLH4h">Watch the Happy Coding playlist here.</a></p>
</div> <!-- end section content -->



<div class="section content" data-aos="fade-up" style="background: repeating-linear-gradient( 135deg, #ddffdd, #ddffdd 10px, #fbfbfb 10px, #fbfbfb 20px)">


    <h2 style="font-size:75px; margin-bottom:0; font-family: 'HappyCoding', monospace;">Latest Blog Post</h2>

    <hr style="width: 95%; margin-bottom:25px;">

    <style>
      #newest-blog .title {
        font-size: 50px;
      }

      #newest-blog p {
        font-size: 25px;
      }
    </style>

    <div id="newest-blog">
      {% for post in site.categories.blog limit:1 %}
        {% include url-thumbnail.html url=post.url fullsize=true %}
      {% endfor %}
    </div>

    <hr style="width: 95%; margin-bottom:25px;">

    <h2>Popular Blog Posts</h2>

    <div class="thumbnail-link-container">
      {% include url-thumbnail.html url="/blog/locus-of-control-learned-helplessness" %}
      {% include url-thumbnail.html url="/blog/ten-years" %}
      {% include url-thumbnail.html url="/blog/my-quarantine" %}
      {% include url-thumbnail.html url="/blog/checking-my-privilege" %}
      {% include url-thumbnail.html url="/blog/ludum-memories" %}
      {% include url-thumbnail.html url="/blog/black-lives-matter-to-me" %}
      {% include url-thumbnail.html url="/blog/subjective-side-of-code" %}
      {% include url-thumbnail.html url="/blog/quadrilateral-of-creativity" %}
    </div>

    <hr style="width: 95%; margin-bottom:25px;">

    <p style="font-size:25px;"><a href="/blog">Read more blog posts here!</a></p>

</div> <!-- end section content -->

<div class="section content" data-aos="fade-up" style="background:repeating-radial-gradient( circle at 50% 50%, #ffddff, #ffddff 10px, #fbfbfb 10px, #fbfbfb 20px );">

  <h2 style="font-size:75px; margin-bottom:0; font-family: 'HappyCoding', monospace;">Support Happy Coding</h2>

  <hr style="width: 95%; margin-bottom:25px;">

  <p style="font-size:25px;">If you want to support Happy Coding, consider purchasing some merch!</p>

  <div id="etsy-listings">
    <div class="etsy-thumbnail">
      <a href="https://www.etsy.com/listing/1135182793/happy-coding-mug">
        <img src="https://i.etsystatic.com/19391223/r/il/754406/3518066892/il_794xN.3518066892_fnv1.jpg">
      </a>
      <a href="https://www.etsy.com/listing/1135182793/happy-coding-mug">Happy Coding Mug</a>
    </div>

    <div class="etsy-thumbnail">
      <a href="https://www.etsy.com/listing/1064758407/happy-coding-sticker-dark">
        <img src="https://i.etsystatic.com/19391223/r/il/40fe88/3301449255/il_794xN.3301449255_dtnq.jpg">
      </a>
      <a href="https://www.etsy.com/listing/1064758407/happy-coding-sticker-dark">Happy Coding Sticker - Dark</a>
    </div>

    <div class="etsy-thumbnail">
      <a href="https://www.etsy.com/listing/1064754295/happy-coding-sticker-light">
        <img src="https://i.etsystatic.com/19391223/r/il/8e706d/3301436503/il_794xN.3301436503_s5y0.jpg">
      </a>
      <a href="https://www.etsy.com/listing/1064754295/happy-coding-sticker-light">Happy Coding Sticker - Dark</a>
    </div>

    <div class="etsy-thumbnail">
      <a href="https://www.etsy.com/listing/1052400223/happy-coding-t-shirt">
        <img src="https://i.etsystatic.com/19391223/r/il/67e924/3207997284/il_794xN.3207997284_8az4.jpg">
      </a>
      <a href="https://www.etsy.com/listing/1052400223/happy-coding-t-shirt">Happy Coding Shirt</a>
    </div>
  </div>

  <p style="font-size:25px;">You can also check out creative coding prints on the <a href="https://www.etsy.com/shop/HappyCoding">Happy Coding Etsy</a>!</p>

  <div id="etsy-listings">
    <div class="etsy-thumbnail">
      <a href="https://www.etsy.com/listing/679045433/random-walker-algorithm-art-print-poster">
        <img src="https://i.etsystatic.com/19391223/r/il/f6f416/1763090326/il_640xN.1763090326_1c48.jpg" style="width: 163px; height:163px;">
      </a>
      <a href="https://www.etsy.com/listing/679045433/random-walker-algorithm-art-print-poster">Random Walker Art Print</a>
    </div>

    <div class="etsy-thumbnail">
      <a href="https://www.etsy.com/listing/805018649/colorful-spiral-poster-algorithmically">
        <img src="https://i.etsystatic.com/19391223/r/il/886bee/2297102006/il_794xN.2297102006_m9it.jpg">
      </a>
      <a href="https://www.etsy.com/listing/805018649/colorful-spiral-poster-algorithmically">Spiral Art Print</a>
    </div>

    <div class="etsy-thumbnail">
      <a href="https://www.etsy.com/listing/777499438/finding-nemo-all-frames-movie-poster">
        <img src="https://i.etsystatic.com/19391223/r/il/4b8e12/2293650867/il_924xN.2293650867_bdu5.jpg" style="width: 163px; height:163px;">
      </a>
      <a href="https://www.etsy.com/listing/777499438/finding-nemo-all-frames-movie-poster">Finding Nemo All Frames Movie Poster</a>
    </div>

    <div class="etsy-thumbnail">
      <a href="https://www.etsy.com/listing/845411511/taylor-swift-folklore-album-song">
        <img src="https://i.etsystatic.com/19391223/r/il/1c87e6/2482944205/il_640xN.2482944205_77pa.jpg" style="width: 163px; height:163px;">
      </a>
      <a href="https://www.etsy.com/listing/845411511/taylor-swift-folklore-album-song">Taylor Swift - folklore - Album Song Visualization Poster</a>
    </div>
  </div>

  <hr style="width: 95%; margin-bottom:25px;">

  <p style="font-size:25px;">The best way to support Happy Coding is by saying hi on the <a href="https://forum.happycoding.io">forum</a>!</p>

  <p>TODO: blog, teaching, examples?</p>


  <!-- <script src="/js/etsy-listings.js"></script> -->

<!-- From default.html layout: -->
<!-- </div> <!-- end section content -->




          </div> <!-- end content -->





        </div> <!-- end sections -->



      </div> <!-- end left-nav-and-sections -->

      <footer>
        <!-- <a href="https://twitter.com/TheKevinWorkman">
          <img class="footer-img" src="/images/twitter.png" alt="twitter" /></a> -->
        <a rel="me" href="https://mastodon.art/@KevinWorkman">
          <img class="nav-img" src="/images/mastodon.svg" alt="Mastodon" /></a>
        <a href="https://github.com/KevinWorkman/HappyCoding">
          <img class="footer-img" src="/images/GitHub-Mark-32px.png" alt="github" /></a>
        <a href="https://www.etsy.com/shop/HappyCoding">
          <img class="footer-img" src="/images/etsy.png" alt="etsy" /></a>
        <a href="https://www.youtube.com/user/kevinaworkman">
          <img class="footer-img" src="/images/youtube.png" alt="youtube" /></a>
        <a href="/feed.xml">
          <img class="footer-img" src="/images/rss.png" alt="RSS" /></a>

        <p>Question? Request? Just want to talk about coding? Come say hi on
          <a href="http://forum.happycoding.io/">forum.HappyCoding.io</a>!</p>
        <p><a href="/license.html">HappyCoding.io is open source.</a> -
          <a href="https://github.com/KevinWorkman/HappyCoding/wiki/Contributing">
            How to contribute?</a> -
          <a href="https://github.com/KevinWorkman/HappyCoding/blob/gh-pages/index.html">
            View or edit this page's source on GitHub!</a></p>
        <p id="background-link"></p>
      </footer>
    </div><!-- end container -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-91668549-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
