---
layout: default
title: Happy Coding
meta-title: Happy Coding
meta-description: You can code. HappyCoding.io is a collection of tutorials and examples that start at the absolute basics and take you through advanced coding techniques.
meta-image: /images/random-walkers-1.png
---
<div class="jumbotron">
	<h1>You can code.</h1>
	<p>Code is more than just ones and zeroes. Code is a <strong>creative process</strong> that allows you to express yourself, reach other people, generate art, and make stuff in new ways every day.</p>
	<p>Happy Coding is a collection of tutorials and examples that start at the absolute basics and take you through advanced coding techniques.</p>
	<p>So far we have tutorials for <a href="/tutorials/processing">Processing</a>, <a href="/tutorials/java">Java</a>, <a href="/tutorials/html">HTML</a>, and <a href="/tutorials/javascript">JavaScript</a>. P5.js, Android, and server development tutorials are coming soon!</p>
	<p>We also have <a href="/examples">example programs</a> that you can build from, as well as <a href="/teaching">teaching guides</a> if you want to use the site in your classroom.</p>
	<p><a class="btn btn-primary btn-lg" href="/tutorials" role="button">Start coding!</a></p>
</div>
<hr />

<h2>New Tutorials</h2>
{% for post in site.categories.tutorials reversed limit:6 %}
	{% include thumbnail.html url=post.url thumbnail=post.thumbnail title=post.title tagline=post.tagline tags=post.tags  %}
{% endfor %}

<hr />

<h2>New Examples</h2>
{% for post in site.categories.examples reversed limit:6 %}
	{% include thumbnail.html url=post.url thumbnail=post.thumbnail title=post.title tagline=post.tagline tags=post.tags  %}
{% endfor %}

<hr />

<h2>Latest Blog Post</h2>
{% for post in site.categories.blog limit:1 %}
	<h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }} - {{ post.date | date: "%B %-d, %Y" }}</a></h2>
	{{ post.content | truncatewords:100}}... (<a href="{{ post.url }}">read more</a>)
{% endfor %}




