---
layout: default
title: Happy Coding
meta-title: Happy Coding
meta-description: You can code. HappyCoding.io is a collection of tutorials and examples that start at the absolute basics and take you through advanced coding techniques.
meta-image: /images/random-walkers-1.png
---

<div class="jumbotron">
	<h1>You can code.</h1>
	
	<p>Code is more than just ones and zeroes. Code is a <strong>creative process</strong> that allows you to express yourself, reach other people, generate art, and make stuff in new ways every day.</p>
	
	<p>Happy Coding is a collection of <strong><a href="/tutorials">tutorials</a></strong> and <strong><a href="/examples">examples</a></strong> that start at the absolute basics and take you through advanced coding topics.</p>
	
	<p>It's also a <strong>community</strong> of people learning how to code. So if you're stuck on something or have a question, come say "hello world" on the <strong><a href="https://forum.happycoding.io">forum</a></strong>!</p>
	
	<p><a class="btn btn-primary btn-lg" href="/tutorials" role="button">Start coding!</a></p>
</div>
<hr />

<h2>New Tutorials</h2>
{% for post in site.categories.tutorials reversed limit:6 %}
	{% include thumbnail.html url=post.url thumbnail=post.thumbnail title=post.title tagline=post.tagline tags=post.tags  %}
{% endfor %}

<hr />

<h2>New Examples</h2>
{% for post in site.categories.examples reversed limit:6 %}
	{% include thumbnail.html url=post.url thumbnail=post.thumbnail title=post.title tagline=post.tagline tags=post.tags  %}
{% endfor %}

<hr />

<h2>Latest Blog Post</h2>
{% for post in site.categories.blog limit:1 %}
	<a href="{{ post.url }}" title="{{ post.title }}">
		<h2>{{ post.title }} - {{ post.date | date: "%B %-d, %Y" }}</h2>
		{% if post.meta-image %}
		<img class="blog-thumbnail" src="{{ post.meta-image }}" />
		{% endif %}
	</a>
	<p>{{ post.meta-description }}</p>
	<p>(<a href="{{ post.url }}">read more</a>)</p>
{% endfor %}




