---
layout: default
title: Creating Functions
categories: [examples,processing,creating-functions]
thumbnail: /examples/processing/creating-functions/images/random-faces-1.gif
sort-key: 400
meta-title: Examples of Creating Functions
meta-description: These example programs show how to create functions in Processing.
meta-image: /examples/processing/creating-functions/images/random-faces-2.png
---

<h2>Examples of Creating Functions</h2>

{% include url-thumbnail.html url="/examples/processing/creating-functions/random-faces" %}
{% include url-thumbnail.html url="/examples/processing/creating-functions/glowing-jack-o-lantern" %}
{% include url-thumbnail.html url="/examples/processing/creating-functions/random-hearts" %}
{% include url-thumbnail.html url="/examples/processing/creating-functions/turtle-graphics" %}