---
layout: default
title: Calling Functions
categories: [examples,processing,calling-functions]
thumbnail: /examples/processing/calling-functions/images/smiley-face-1.png
sort-key: 100
meta-title: Examples of Calling Functions
meta-description: These example programs show how to call functions in Processing.
meta-image: /examples/processing/creating-functions/images/random-faces-2.png
---

<h2>Examples of Calling Functions</h2>

{% include url-thumbnail.html url="/examples/processing/calling-functions/smiley-face" %}
{% include url-thumbnail.html url="/examples/processing/calling-functions/flower" %}
{% include url-thumbnail.html url="/examples/processing/calling-functions/heart" %}