---
layout: default
title: Creating Variables
categories: [examples,processing,creating-variables]
thumbnail: /examples/processing/creating-variables/images/random-face-4.png
tag:
sort-key: 300
meta-title: Examples of Creating Variables
meta-description: These example programs show how to create variables in Processing.
meta-image: /examples/processing/creating-variables/images/random-jack-o-lantern-2.png
---

<h1>Creating Variables</h1>

{% include url-thumbnail.html url="/examples/processing/creating-variables/random-face" %}
{% include url-thumbnail.html url="/examples/processing/creating-variables/random-jack-o-lantern" %}