---
layout: default
title: ArrayLists
categories: [examples,processing,arraylists]
thumbnail: /examples/processing/arraylists/images/flocking-1.gif
tag: The most useful class in the world.
sort-key: 1200
meta-title: ArrayList Examples
meta-description: These example programs show how to use ArrayLists in Processing.
meta-image: /examples/processing/arraylists/images/flocking-3.png
---

<h1>ArrayList Examples</h1>

<p>These examples use the `ArrayList` class to store multiple instances of a class.</p>

{% include url-thumbnail.html url="/examples/processing/arraylists/flocking" %}
{% include url-thumbnail.html url="/examples/processing/arraylists/random-walkers" %}