{%- assign breadcrumbs = page.url | split: '/' -%}
{%- unless breadcrumbs.size < 3 %}
  <div class="breadcrumbs">
    {% assign breadcrumbUrl = "" -%}
    {%- for section in breadcrumbs -%}
      {%- unless section == "" -%}
        {%- assign breadcrumbUrl = breadcrumbUrl
            | append: "/" | append: section %}
        <div class="breadcrumb">
          {% include post-url.html url=breadcrumbUrl -%}
        </div>
        {%- unless forloop.last %}
          <span>/</span>
        {% endunless -%}
      {%- endunless -%}
    {%- endfor %}
  </div>
      <hr/>
{%- endunless -%}
