<div class="panel panel-default">
	<div class="panel-heading" style="height:40px"><a href="https://codepen.io/KevinWorkman/live/{{ include.slug-hash }}/" class="pull-right"><span class="glyphicon glyphicon-new-window"></span></a></div>
	<div class="panel-body">
		<p data-height="{{ include.height | plus:55 }}" 
			data-theme-id="dark" 
			data-slug-hash="{{ include.slug-hash }}" 
			data-user="KevinWorkman"
			data-preview="true" 
			data-show-tab-bar="false"
			class="codepen">
		View this CodePen <a href="http://codepen.io/KevinWorkman/pen/{{ include.slug-hash }}/">here</a>
		</p>
	</div>
</div>