{% assign discourseEmbedUrl = page.discourseEmbedUrl %}
{% unless discourseEmbedUrl %}
  {% assign discourseEmbedUrl = page.url %}
{% endunless %}

<div class="section" id="comments">

  <h1>Comments</h1>

  {% if page.forumExcerpt %}
    <div id="forum-excerpt" style="display:none;">
      <p>{{ page.forumExcerpt }}</p>

      <p>Check it out here:</p>

      <a href="{{ page.url }}">
        <img src="{{ page.meta-image }}">
        <h2>{{ page.meta-title }}</h2>
      </a>

      <p>{{ page.meta-description }}</p>
    </div>
  {% endif %}

  <p>
    Happy Coding is a community of folks just like you learning about coding.
    <br>
    Do you have a comment or question? Post it here!
  </p>

  <div id='discourse-comments'></div>

  <p style="font-size: small;">
    Comments are powered by the <a href="https://forum.happycoding.io">Happy Coding forum</a>. This page has a corresponding forum post, and replies to that post show up as comments here. Click the button above to go to the forum to post a comment!
  </p>

  <script type="text/javascript">
    DiscourseEmbed = {
    	discourseUrl: 'https://forum.happycoding.io/',
    	discourseEmbedUrl: 'https://happycoding.io{{discourseEmbedUrl}}'
    };

    (function() {
      var d = document.createElement('script');
      d.type = 'text/javascript';
      d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      document.getElementsByTagName('head')[0].appendChild(d);
    })();
  </script>

</div>
