<div id="left-nav">
  <ul>
    <li>{% include left-nav-link.html url="/tutorials/" %}
      <ul>
        <li class="left-nav-tutorial-section">
          {% include left-nav-link.html url="/tutorials/processing/" %}
          <ul>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/hour-of-code" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/what-is-programming" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/calling-functions" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/using-variables" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/creating-variables" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/creating-functions" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/debugging" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/if-statements" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/animation" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/for-loops" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/arrays" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/input" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/using-objects" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/creating-classes" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/arraylists" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/images.html" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/libraries" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/exporting-applications" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/processing-js" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/processing/collision-detection" %}</li>
          </ul>
        </li>

        <li class="left-nav-tutorial-section">
          {% include left-nav-link.html url="/tutorials/html/" %}
          <ul>
            <li>{% include left-nav-link.html
                   url="/tutorials/html/intro-to-web-development" %}</li>
            <li>{% include left-nav-link.html url="/tutorials/html/html" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/html/html-tags" %}</li>
            <li>{% include left-nav-link.html url="/tutorials/html/css" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/html/hosting" %}</li>
          </ul>
        </li>

        <li class="left-nav-tutorial-section">
          {% include left-nav-link.html url="/tutorials/javascript/" %}
          <ul>
            <li>{% include left-nav-link.html
                   url="/tutorials/javascript/calling-javascript" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/javascript/developer-tools" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/javascript/creating-variables" %}</li>
            <li>{% include left-nav-link.html
                url="/tutorials/javascript/creating-functions" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/javascript/interactive-html" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/javascript/creating-objects" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/javascript/libraries" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/javascript/jquery" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/javascript/bootstrap" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/javascript/ajax" %}</li>
          </ul>
        </li>

        <li class="left-nav-tutorial-section">
          {% include left-nav-link.html url="/tutorials/p5js/" %}
          <ul>
            <li>{% include left-nav-link.html
                   url="/tutorials/p5js/which-processing" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/p5js/editors" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/p5js/hello-world" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/p5js/review" %}</li>
            <li>{% include left-nav-link.html url="/tutorials/p5js/web" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/p5js/libraries" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/p5js/random" %}</li>
          </ul>
        </li>

        <li class="left-nav-tutorial-section">
          {% include left-nav-link.html url="/tutorials/java/" %}
          <ul>
            <li>{% include left-nav-link.html
                   url="/tutorials/java/setup" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java/hello-world" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java/creating-classes" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java/errors" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java/inheritance" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java/swing" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java/libraries" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java/eclipse" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java/exporting-jars" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java/processing-in-java" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java/unit-testing" %}</li>
          </ul>
        </li>

        <li class="left-nav-tutorial-section">
          {% include left-nav-link.html url="/tutorials/java-server/" %}
          <ul>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/jetty-setup" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/client-server" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/servlets" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/jsp" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/eclipse-ee" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/post" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/libraries" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/sanitizing-user-input" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/sessions" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/secure-password-storage" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/thread-safety" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/hosting-aws" %}</li>
            <li>
              {% include left-nav-link.html
                 url="/tutorials/java-server/hosting-google-app-engine" %}
            </li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/databases" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/uploading-files" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/rest-api" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/java-server/struts" %}</li>
          </ul>
        </li>

        <li class="left-nav-tutorial-section">
          {% include left-nav-link.html url="/tutorials/google-cloud/" %}
          <ul>
            <li>{% include left-nav-link.html
                   url="/tutorials/google-cloud/setup" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/google-cloud/app-engine" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/google-cloud/datastore" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/google-cloud/authentication" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/google-cloud/google-maps" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/google-cloud/blobstore" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/google-cloud/natural-language" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/google-cloud/translation" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/google-cloud/vision" %}</li>
          </ul>
        </li>

        <li class="left-nav-tutorial-section">
          {% include left-nav-link.html url="/tutorials/android/" %}
          <ul>
            <li>{% include left-nav-link.html
                   url="/tutorials/android/hello-world" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/android/anatomy" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/android/layouts" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/android/activities" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/android/storage" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/android/custom-drawing" %}</li>
          </ul>
        </li>

        <li class="left-nav-tutorial-section">
          {% include left-nav-link.html url="/tutorials/libgdx/" %}
          <ul>
            <li>{% include left-nav-link.html
                   url="/tutorials/libgdx/setup" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/libgdx/hello-world" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/libgdx/input" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/libgdx/game-screens" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/libgdx/graphics" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/libgdx/images" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/libgdx/sound" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/libgdx/libraries" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/libgdx/pathfinding" %}</li>
          </ul>
        </li>

        <li class="left-nav-tutorial-section">
          {% include left-nav-link.html url="/tutorials/how-to/" %}
          <ul>
            <li>{% include left-nav-link.html
                   url="/tutorials/how-to/program" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/how-to/social-app" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/how-to/sell-digital-art-online" %}</li>
            <li>{% include left-nav-link.html
                   url="/tutorials/how-to/interview" %}</li>
          </ul>
        </li>
      </ul>
    </li>
<hr>
    <li>{% include left-nav-link.html url="/examples/" %}</li>
<hr>
    <li>{% include left-nav-link.html url="/gallery/" %}</li>
<hr>
    <li>{% include left-nav-link.html url="/blog/" %}
      <ul class="left-nav-blog-list">
        {% for post in site.categories.blog %}
          <li>{% include left-nav-link.html url=post.url %}</li>
        {% endfor %}
      </ul>
    </li>
<hr>
    <li>{% include left-nav-link.html url="/teaching/" %}</li>
  </ul>
</div>