<div class="left-nav-tutorial-section">
  {% include post-url.html url="/teaching" class="current" %}
  <ul>
    <hr>
    <li>{%- include left-nav-link.html url="/teaching/technical-interviewing-2023-fall" -%}</li>
    <hr>
    <li>{%- include left-nav-link.html url="/teaching/intro-to-web-dev-2023-spring" -%}</li>
    <hr>
    <li>{%- include left-nav-link.html url="/teaching/intro-to-web-dev-2022-fall" -%}</li>
    <hr>
    <li>{%- include left-nav-link.html url="/teaching/intro-to-web-dev-2022-spring" -%}</li>

    <li>{% include tutorial-chapter-left-nav-section.html url="/teaching/guides" title="Teaching with Happy Coding" level=4 %}</li>
  </ul>
</div>
