<li class="left-nav-section">
  <details {% if page.url contains include.url %}open{% endif %}>
    <summary>
      <a href="{{ include.url }}"
        {% if page.url contains include.url %}class="current"{% endif %}>
        {{ include.title }}
      </a>
    </summary>
    <ul>
    {%- assign posts = site.posts | sort: 'sort-key' -%}
    {%- for post in posts  -%}
    {% if post.url contains include.url %}
      <li>{%- include left-nav-link.html url=post.url -%}</li>
    {%- endif -%}
  {% endfor %}
</ul>
  </details>
</li>