{% if page.description %}<meta name="description" content="{{page.og-description}}">{% endif %}

		<meta property="og:site_name" content="Happy Coding" />
		<meta property="og:url" content="http://HappyCoding.io{{page.url}}" />
		{% if page.title %}<meta property="og:title" content="{{page.title}}" />{% endif %}
		{% if page.og-image %}<meta property="og:image" content="http://HappyCoding.io{{page.og-image}}" />{% endif %}
		{% if page.og-description %}<meta property="og:description" content="{{page.og-description}}" />{% endif %}