{% if page.description %}<meta name="description" content="{{page.og-description}}">{% endif %}

		<meta property="og:site_name" content="Happy Coding" />
		<meta name="twitter:card" content="summary_large_image">
		{% if page.twitter-image %}<meta property="twitter:image" content="http://HappyCoding.io{{page.twitter-image}}" />{% endif %}
		{% if page.og-image %}<meta property="og:image" content="http://HappyCoding.io{{page.og-image}}" />{% endif %}
		<meta property="og:url" content="http://HappyCoding.io{{page.url}}" />
		<meta property="twitter:url" content="http://HappyCoding.io{{page.url}}" />
		{% if page.og-title %}<meta property="og:title" content="{{page.og-title}}" />{% endif %}
		{% if page.twitter-title %}<meta name="twitter:title" content="{{page.twitter-title}}">{% endif %}
		{% if page.og-description %}<meta property="og:description" content="{{page.og-description}}" />{% endif %}
		{% if page.twitter-description %}<meta property="twitter:description" content="{{page.twitter-description}}" />{% endif %}
		<meta name="twitter:site" content="@KevinAWorkman">
		<meta name="twitter:creator" content="@KevinAWorkman">
		
		