<meta name="viewport" content="width=1000, initial-scale=1">
<meta property="twitter:url" content="http://HappyCoding.io{{page.url}}" />
<meta property="og:url" content="http://HappyCoding.io{{page.url}}" />
<meta name="twitter:site" content="@KevinAWorkman">
<meta name="twitter:creator" content="@KevinAWorkman">
<meta property="og:site_name" content="Happy Coding" />
{% if page.meta-image %}<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="http://HappyCoding.io{{page.meta-image}}" />
<meta property="og:image" content="http://HappyCoding.io{{page.meta-image}}" />{% endif %}
{% if page.meta-title %}<meta name="twitter:title" content="{{page.meta-title}}">
<meta property="og:title" content="{{page.meta-title}}" />{% endif %}
{% if page.meta-description %}<meta property="twitter:description" content="{{page.meta-description}}" />
<meta property="og:description" content="{{page.meta-description}}" />
<meta name="description" content="{{page.meta-description}}">{% endif %}	



		

		

		

