{%- assign post = site.posts | where:"url", include.url | first -%}
{%- unless post -%}
  {%- assign post = site.pages | where:"url", include.url | first -%}
{%- endunless -%}
{%- comment -%}
  If post is still unfound, maybe we need a /, e.g. in the breadcrumb logic.
{%- endcomment -%}
{%- unless post -%}
  {%- assign pageUrl = include.url | append: "/" -%}
  {%- assign post = site.pages | where:"url", pageUrl | first -%}
{%- endunless -%}
{%- assign title = include.title -%}
{%- unless title -%}
  {%- assign title = post.title -%}
{%- endunless -%}
{%- assign thumbnail = post.thumbnail -%}
{%- unless thumbnail -%}
  {%- assign thumbnail = post.meta-image -%}
{%- endunless -%}
{%- unless thumbnail -%}
  {%- assign thumbnail = "/images/logo-800x400.png" -%}
{%- endunless -%}

<div class="smallThumbnailLink">
  <img src="{{ thumbnail }}">
  <a class="{{ include.class }}" href="{{ post.url }}">{{ title }}</a>
</div>
