{%- if page.previousPost or page.nextPost -%}
  {%- if include.bottom %}
    <hr>
  {%- endif %}
  <div class="previous-and-next-links">
    {%- if page.previousPost -%}
      <div style="display:flex;">
        <span style="margin-right:5px;">Previous:</span>
        {% include post-url.html url=page.previousPost -%}
      </div>
    {%- endif %}
    <span></span>
    {%- if page.nextPost -%}
      <div style="display:flex;">
        <span style="margin-right:5px;">Next:</span>
        {% include post-url.html url=page.nextPost -%}
      </div>
    {%- endif %}
  </div>
{%- endif -%}
