{%- assign exampleUrlPrefix = include.url | append: "/" -%}
{%- assign class = "not-current" -%}
{% if page.url contains include.url %}
  {% assign class = "current" %}
{% endif %}
{%- assign level = include.level -%}
{%- unless level -%}
  {%- assign level = 5 -%}
{%- endunless -%}

<hr>
<li class="left-nav-tutorial-chapter">
  {% include post-url.html url=include.url title=include.title class=class %}

  <ul>
  {%- assign posts = site.posts | sort: 'sort-key' -%}
    {%- for post in posts  -%}
      {% assign postLevel = post.url | split: "/" %}

      {% if postLevel.size == level and post.url contains exampleUrlPrefix %}
        <li>{%- include left-nav-link.html url=post.url -%}</li>
      {%- endif -%}
    {% endfor %}
  </ul>
</li>
