---
layout: default
title: Processing Libraries
categories: [examples,processing,libraries]
thumbnail: /examples/processing/libraries/images/random-piano-1.png
sort-key: 1500
meta-title: Processing Libraries
meta-description: These example programs show how to use libraries to expand what Processing can do.
meta-image: /examples/processing/libraries/images/random-piano-2.png
---
<h1>Processing Libraries</h1>

{% include url-thumbnail.html url="/examples/processing/libraries/random-synthesizer" %}
{% include url-thumbnail.html url="/examples/processing/libraries/random-piano" %}