---
layout: default
title: Using Variables
categories: [examples,processing,using-variables]
thumbnail: /examples/processing/using-variables/images/smiley-face-2.png
sort-key: 200
meta-title: Examples of Using Variables
meta-description: These example programs show how to use variables in Processing.
meta-image: /examples/processing/creating-variables/images/random-jack-o-lantern-2.png
---
<h1>Using Variables</h1>

{% include url-thumbnail.html url="/examples/processing/using-variables/smiley-face" %}
{% include url-thumbnail.html url="/examples/processing/using-variables/flower" %}
{% include url-thumbnail.html url="/examples/processing/using-variables/jack-o-lantern" %}
{% include url-thumbnail.html url="/examples/processing/using-variables/scaling-heart" %}