---
layout: default
title: Arrays
categories: [examples,processing,arrays]
thumbnail: /examples/processing/arrays/images/bouncing-balls-1.gif
sort-key: 800
meta-title: Array Examples
meta-description: These example programs show how to use arrays in Processing.
meta-image: /examples/processing/input/images/bouncing-balls-2.png
---

<h2>Examples of Arrays</h2>

{% include url-thumbnail.html url="/examples/processing/arrays/bouncing-balls" %}
{% include url-thumbnail.html url="/examples/processing/arrays/random-walkers" %}