---
title: p5.js Tutorials
layout: left-and-right-navs
thumbnail: /tutorials/p5js/images/hello-world-2.png
categories: [tutorials, p5.js, javascript]
meta-title: p5.js Tutorials
meta-description: Learn how to create p5.js sketches!
meta-image: /tutorials/p5js/images/hello-world-3.png
sort-key: 600
redirect_from: /examples/p5js
nextPost: /tutorials/p5js/welcome-to-coding
---

<div class="section content">

  {% include breadcrumbs.html %}

  <h1>p5.js Tutorials</h1>

  <p>p5.js is a coding language for making creative, animated, interactive, and artistic projects. It's designed for folks who are new to coding, so it's the perfect place to start. It's also built on top of JavaScript, so it's a great way to learn the fundamentals of coding, even if your eventual goal is to learn other languages.</p>

  {% include tutorial-chapter.html url="/tutorials/p5js/welcome-to-coding" chapter=1 %}

</div>

<div class="section content">

  {% include tutorial-chapter.html url="/tutorials/p5js/calling-functions" chapter=2 %}

</div>

<div class="section content">

  {% include tutorial-chapter.html url="/tutorials/p5js/using-variables" chapter=3 %}

</div>

<div class="section content">

  {% include tutorial-chapter.html url="/tutorials/p5js/creating-variables" chapter=4 %}

</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/creating-functions" chapter=5 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/debugging" chapter=6 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/if-statements" chapter=7 %}
</div>

<div class="section content">
{% include tutorial-chapter.html url="/tutorials/p5js/animation" chapter=8 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/random" chapter=9 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/input" chapter=10 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/for-loops" chapter=11 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/arrays" chapter=12 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/using-objects" chapter=13 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/creating-classes" chapter=14 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/array-functions" chapter=15 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/images" chapter=16 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/web-dev" chapter=17 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/libraries" chapter=18 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/p5js/next" chapter=19 %}
</div>


<div class="section content">

  <h1>More Info</h1>

  <p>Want more info before you dive into coding? Read these!</p>

  {% include url-thumbnail.html url="/tutorials/p5js/which-processing" %}
  {% include url-thumbnail.html url="/tutorials/p5js/editors" %}

</div>

<div class="section content">

 <h1>From Processing to p5.js</h1>

  <p>These tutorials assume you're already familiar with the fundamentals of coding and that you've already read the <a href="/tutorials/processing">Processing</a> and <a href="/tutorials/javascript">JavaScript</a> tutorials.</p>

  {% include url-thumbnail.html url="/tutorials/p5js/hello-world" %}
  {% include url-thumbnail.html url="/tutorials/p5js/review" %}

</div>

<div class="section content">

  <h1>Other Resources</h1>

  <p><a href="http://tinyurl.com/p5-spooky-sketches">p5 spooky sketches</a> is a printout I made for <a href="http://ccfest.rocks/">CC Fest</a> in 2019. It contains a bunch of halloween-themed examples of drawing and image manipulation.</p>

</div>
