---
layout: default
title: Images
categories: [examples,processing,images]
thumbnail: /examples/processing/images/images/nes-filter-2.png
sort-key: 1300
meta-title: Image Examples
meta-description: These example programs show how to load, display, and manipulate image files in Processing.
meta-image: /examples/processing/images/images/nes-filter-3.png
---
<h1>Images</h1>

{% include url-thumbnail.html url="/examples/processing/images/nes-filter" %}
{% include url-thumbnail.html url="/examples/processing/images/mars-perseverance-image-colorizer" %}