---
layout: default
title: Creating Classes
categories: [examples,processing,creating-classes]
thumbnail: /examples/processing/creating-classes/images/flyers-2.gif
tag: Create your own classes.
sort-key: 1100
meta-title: Examples of Creating Classes
meta-description: These example programs show how to create classes in Processing.
meta-image: /examples/processing/arraylists/images/flocking-3.png
---

<h2>Examples of Creating Classes</h2>

{% include url-thumbnail.html url="/examples/processing/creating-classes/flyers" %}
{% include url-thumbnail.html url="/examples/processing/creating-classes/flocking" %}