---
title: Processing Tutorials
layout: default
thumbnail: /tutorials/processing/images/processing-icon-small-1.png
categories: [tutorials, processing]
meta-title: Processing Tutorials
meta-description: Learn how to program in Processing!
meta-image: /tutorials/processing/images/processing-icon-large-1.png
sort-key: 100
---

<h1>Processing Tutorials</h1>

<p>Just want to get your feet wet? Try the hour of code!</p>

{% include url-thumbnail.html url="/tutorials/processing/hour-of-code" %}

<h2>Basic Processing Tutorials</h2>

<p>Serious about learning how to program? Go through these in order:</p>

{% include url-thumbnail.html url="/tutorials/processing/what-is-programming" %}
{% include url-thumbnail.html url="/tutorials/processing/calling-functions" %}
{% include url-thumbnail.html url="/tutorials/processing/using-variables" %}
{% include url-thumbnail.html url="/tutorials/processing/creating-variables" %}
{% include url-thumbnail.html url="/tutorials/processing/creating-functions" %}
{% include url-thumbnail.html url="/tutorials/processing/debugging" %}
{% include url-thumbnail.html url="/tutorials/processing/if-statements" %}
{% include url-thumbnail.html url="/tutorials/processing/animation" %}
{% include url-thumbnail.html url="/tutorials/processing/for-loops" %}
{% include url-thumbnail.html url="/tutorials/processing/arrays" %}
{% include url-thumbnail.html url="/tutorials/processing/input" %}
{% include url-thumbnail.html url="/tutorials/processing/using-objects" %}
{% include url-thumbnail.html url="/tutorials/processing/creating-classes" %}
{% include url-thumbnail.html url="/tutorials/processing/arraylists" %}
{% include url-thumbnail.html url="/tutorials/processing/images.html" %}
{% include url-thumbnail.html url="/tutorials/processing/libraries" %}
{% include url-thumbnail.html url="/tutorials/processing/exporting-applications" %}
{% include url-thumbnail.html url="/tutorials/processing/processing-js" %}

<h2>Advanced Processing Tutorials</h2>

<p>Read through these as you need them!</p>

{% include url-thumbnail.html url="/tutorials/processing/collision-detection" %}