<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
		        	<li><a href="/tutorials">Tutorials</a></li>
	        		<li><a href="/tutorials/java">More Tutorials?</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			{{ content }}
			</div>
			<footer>
	    		<ul>
	        		<li><a href="/">Happy Coding!</a></li>
				</ul>
			</footer>
		</body>
	</html>
