<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
			<link href="/css/bootstrap.cyborg.css" rel="stylesheet" id="bootstrapCss">

			
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/png" href="/images/favicon.png" id="favicon" />
			
			<script src="/js/js.cookie.js"></script>
			<script src="/js/jquery-3.0.0.min.js"></script>
    			<script src="/js/bootstrap.min.js"></script>
    			<script src="/js/main.js"></script>
    			
    			<script>
				var theme = Cookies.get('theme');
				if(theme){
					if("dark" == theme){
						$("#bootstrapCss").attr("href", "/css/bootstrap.cyborg.css");
						$("#favicon").attr("href", "/images/faviconDark.png");
					}
					else{
						$("#bootstrapCss").attr("href", "/css/bootstrap.css");
						$("#favicon").attr("href", "/images/favicon.png");
					}
				}
			</script>
    			
		</head>
		<body>
			<nav>
		    		<ul>
		        		<li><a href="/">Home</a></li>
		        		<li><a href="/blog">Blog</a></li>
			        	<li><a href="/tutorials">Tutorials</a></li>
		        		<li><a href="/tutorials/java">More Tutorials?</a></li>
		        		
		    		</ul>
		    		
		    		<form class="navbar-form navbar-right">
					<select id="themeChooser" class="form-control"></select>
				</form>
			</nav>
			
		
			
			<div class="container">
			{{ content }}
			</div>
			<footer>
	    		<ul>
	        		<li><a href="/">Happy Coding!</a></li>
				</ul>
			</footer>
		</body>
	</html>
