<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
{%- if page.title == "Happy Coding" %}
    <title>Happy Coding</title>
{%- else -%}
    <title>{{ page.title }} - Happy Coding</title>
{%- endif %}

{% include meta.html %}

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    {%- if page.includeP5jsWidget %}
    <script src="//toolness.github.io/p5.js-widget/p5-widget.js"></script>
    {% endif -%}
    <script src="/js/modernizr-transitions.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <nav>
        <a class="navbar-home" href="/">Happy Coding</a>
        <div class="nav-links">
          <a class="nav-link" href="/tutorials">Tutorials</a>
          <a class="nav-link" href="/examples">Examples</a>
          <a class="nav-link" href="/blog">Blog</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="http://forum.HappyCoding.io">Forum</a>
          <a id="social-nav-link" href="https://twitter.com/TheKevinWorkman">
            <img id="social-nav-img" class="social-img"
                src="/images/twitter.png" alt="twitter" />
          </a>
          <script>setRandomSocialLink();</script>
        </div>
      </nav>

      <div class="left-nav-and-content">
  {% include left-nav.html %}

        <div id="content-and-comments">
          <div class="content">

  {%- assign breadcrumb = page.url | split: '/' -%}
  {%- unless breadcrumb.size < 3 %}
    {% assign breadcrumbUrl = "" -%}
    {%- for section in breadcrumb -%}
      {%- unless section == "" -%}
        {%- assign breadcrumbUrl = breadcrumbUrl
            | append: "/" | append: section %}
        {% include post-url.html url=breadcrumbUrl -%}
        {%- unless forloop.last %} / {% endunless -%}
      {%- endunless -%}
    {%- endfor %}
        <hr/>
  {%- endunless -%}

  {% include previous-next-links.html %}

  {{ content }}

  {% include previous-next-links.html bottom=true %}

          </div> <!-- end content -->

  {% if layout.include_comments %}
 {% include comments.html %}
 {% endif %}
        </div> <!-- end content-and-comments -->

      </div> <!-- end left-nav-and-content -->

      <footer>
        <a href="https://twitter.com/TheKevinWorkman">
          <img class="footer-img" src="/images/twitter.png" alt="twitter" /></a>
        <a href="https://github.com/KevinWorkman/HappyCoding">
          <img class="footer-img" src="/images/GitHub-Mark-32px.png" alt="github" /></a>
        <a href="https://www.etsy.com/shop/HappyCoding">
          <img class="footer-img" src="/images/etsy.png" alt="etsy" /></a>
        <a href="https://www.youtube.com/user/kevinaworkman">
          <img class="footer-img" src="/images/youtube.png" alt="youtube" /></a>
        <a href="/feed.xml">
          <img class="footer-img" src="/images/rss.png" alt="RSS" /></a>

        <p>Question? Request? Just want to talk about coding? Come say hi on
          <a href="http://forum.happycoding.io/">forum.HappyCoding.io</a>!</p>
        <p><a href="/license.html">HappyCoding.io is open source.</a> -
          <a href="https://github.com/KevinWorkman/HappyCoding/wiki/Contributing">
            How to contribute?</a> -
          <a href="https://github.com/KevinWorkman/HappyCoding/blob/gh-pages/{{ page.path }}">
            View or edit this page's source on GitHub!</a></p>
        <p id="background-link"></p>
      </footer>
    </div><!-- end container -->
{% include analytics.html %}
  </body>
</html>
