---
layout: body
---

      <div class="left-nav-and-sections">
        {%- unless page.hideLeftNav -%}
          {%- include left-nav.html %}
        {%- endunless -%}

        <div id="sections">
          {{ content }}
        </div> <!-- end sections -->

        {% if layout.include_right_nav %}
          <div id="right-nav">
            <div id="right-nav-toc"></div>
          </div>
          <script>
            const contentDiv = document.getElementsByClassName('content')[0];
            const headingCount =
                contentDiv.getElementsByTagName('h1').length +
                contentDiv.getElementsByTagName('h2').length +
                contentDiv.getElementsByTagName('h3').length;
            if (headingCount > 3) {
              tocbot.init({
                // Where to render the table of contents.
                tocSelector: '#right-nav-toc',
                // Where to grab the headings to build the table of contents.
                contentSelector: '.content',
                // Ignore headings in hidden forum excerpts.
                ignoreSelector: '#forum-excerpt h2',
                headingSelector: 'h1, h2, h3',
                collapseDepth: 3,
                headingsOffset: 100,
              });
            } else {
              document.getElementById('x-large-css').disabled = true;
            }
          </script>
        {% endif %}

      </div> <!-- end left-nav-and-sections -->
