---
layout: default
---
<h1>{{ page.title }}</h1>
{% assign pageCategories = page.categories | join ' ' | append: ' '%}
{% assign pageCategoriesSize = page.categories.size %}
{% assign sorted_posts = site.posts | sort: 'sort-key' %}
{% for post in sorted_posts %}
	{% assign postCategories = '' %}
	{% for thispostcat in post.categories limit: pageCategoriesSize %}
		{% assign postCategories = postCategories | append: thispostcat %}
		{% assign postCategories = postCategories | append: ' ' %}
	{% endfor %}

	{% if (postCategories == pageCategories) %}
		{% include thumbnail.html url=post.url thumbnail=post.thumbnail title=post.title tagline=post.tagline tags=post.tags  %}
	{% endif %}
{% endfor %}

<p><a href="..">Go back up</a></p>
