---
title: Movie Colors
tagline: Every frame a line, every line a color.
layout: default
thumbnail: /gallery/movie-colors/images/thumbnail-1.png
meta-title: Movie Colors
meta-description: Every frame a line, every line a color.
meta-image: /gallery/movie-colors/images/thumbnail-2.png
lastUpdated: 2020-08-30
---

<style>
.content img{
  width: 95%;
  min-height: 100px;
  image-rendering: pixelated;
}
</style>

<h1>Movie Colors</h1>

<p>This project uses <a href="/tutorials/processing">Processing</a> to visualize movie colors in a few different ways.</p>

<p>What effect does color have on us? What does it mean for a movie to use more of one color than another? Or to jump between a bunch of different colors? I don't really know the answer to those questions, but I think it's interesting to look at!</p>

<p>Many of these are available as posters on
<a href="https://www.etsy.com/shop/HappyCoding">Etsy</a>.</p>

<p>Here is an explanation of the different visualizations:</p>

<h2>Timelines</h2>

<a href="/gallery/movie-colors/images/finding-nemo-timeline-large.jpg">
  <img src="/gallery/movie-colors/images/finding-nemo-timeline-small.png" />
</a>

<p>Each vertical line is a one-second slice of the movie. The color of each line is the average color of that one-second slice. Click it to see a bigger version.</p>

<h2>All Frames</h2>

<img src="/gallery/movie-colors/images/finding-nemo-all-frames-landscape-540.png" />

<p>These images contain every single frame from a movie. (Most movies have 24 frames per second!) Each individual frame is too small to see, but the overall colors from the movie make an interesting pattern.</p>

<h2>Averages</h2>

<p>A <a href="https://en.wikipedia.org/wiki/Multiple_exposure">multiple exposure</a> is created by overlapping multiple pictures on top of each other:</p>

<img src="/gallery/movie-colors/images/multiple-exposures-3.png" />

<p>These images are a result of overlapping every frame of a movie into a single image:</p>

<img src="/gallery/movie-colors/images/finding-nemo-average.jpg" />

<p>If you look closely, you'll see a pattern similar to <a href="https://en.wikipedia.org/wiki/Screen_burn-in">screen burn-in</a> formed by common elements of the movie. (This example is from <a href="https://en.wikipedia.org/wiki/Finding_Nemo">Finding Nemo</a>- do you see anything familiar?)</p>

<hr>

<!-- American Gods -->
{% include movie-colors-section.html
    movie-title="American Gods (Season 1)"
    external-link="https://en.wikipedia.org/wiki/American_Gods_(TV_series)"
    timeline-small="/gallery/movie-colors/images/american-gods-1-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/american-gods-1-timeline-large.png"
    all-frames=null
    average=null
%}

<!-- American History X -->
{% include movie-colors-section.html
    movie-title="American History X"
    external-link="https://en.wikipedia.org/wiki/American_History_X"
    timeline-small="/gallery/movie-colors/images/american-history-x-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/american-history-x-timeline-large.png"
    all-frames="/gallery/movie-colors/images/american-history-x-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/american-history-x-average.jpg"
%}

<!-- Ant Man and the Wasp -->
{% include movie-colors-section.html
    movie-title="Ant Man and the Wasp"
    external-link="https://en.wikipedia.org/wiki/Ant-Man_and_the_Wasp"
    timeline-small="/gallery/movie-colors/images/ant-man-and-the-wasp-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/ant-man-and-the-wasp-timeline-small.png"
    all-frames=null
    average="/gallery/movie-colors/images/ant-man-and-the-wasp-average.jpg"
%}

<!-- Aquaman -->
{% include movie-colors-section.html
    movie-title="Aquaman"
    external-link="https://en.wikipedia.org/wiki/Aquaman_(film)"
    timeline-small="/gallery/movie-colors/images/aquaman-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/aquaman-timeline-large.png"
    all-frames="/gallery/movie-colors/images/aquaman-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/aquaman-average.jpg"
%}

<!-- Avengers -->
{% include movie-colors-section.html
    movie-title="Avengers"
    external-link="https://en.wikipedia.org/wiki/The_Avengers_(2012_film)"
    timeline-small="/gallery/movie-colors/images/avengers-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/avengers-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/avengers-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/avengers-average.jpg"
%}

<!-- Batman: The Animated Series -->
{% include movie-colors-section.html
    movie-title="Batman: The Animated Series"
    external-link="https://en.wikipedia.org/wiki/Batman:_The_Animated_Series"
    all-frames="/gallery/movie-colors/images/batman-tas-all-frames-landscape-border-540.png"
%}

<!-- Batman: The Animated Series Title Cards-->
{% include movie-colors-section.html
    movie-title="Batman: The Animated Series Title Cards"
    external-link="https://en.wikipedia.org/wiki/Batman:_The_Animated_Series"
    all-frames="/gallery/movie-colors/images/batman-tas-titles-landscape-border-540.png"
%}

<!-- Beauty and the Beast -->
{% include movie-colors-section.html
    movie-title="Beauty and the Beast"
    external-link="https://en.wikipedia.org/wiki/Beauty_and_the_Beast_(1991_film)"
    timeline-small="/gallery/movie-colors/images/beauty-and-the-beast-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/beauty-and-the-beast-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/beauty-and-the-beast-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/beauty-and-the-beast-average.jpg"
%}

<!-- Blade Runner 2049 -->
{% include movie-colors-section.html
    movie-title="Blade Runner 2049"
    external-link="https://en.wikipedia.org/wiki/Blade_Runner_2049"
    timeline-small="/gallery/movie-colors/images/blade-runner-2049-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/blade-runner-2049-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/blade-runner-2049-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/blade-runner-2049-average.jpg"
%}

<!-- Bob's Burgers -->
{% include movie-colors-section.html
    movie-title="Bob's Burgers (Season 1)"
    external-link="https://en.wikipedia.org/wiki/Bob%27s_Burgers"
    timeline-small="/gallery/movie-colors/images/bobs-burgers-1-all-timeline-small.jpg"
    timeline-large="/gallery/movie-colors/images/bobs-burgers-1-timeline-poster.png"
    all-frames=null
    average="/gallery/movie-colors/images/bobs-burgers-1-all-average.jpg"
%}

<!-- Brave Little Toaster -->
{% include movie-colors-section.html
    movie-title="The Brave Little Toaster"
    external-link="https://en.wikipedia.org/wiki/The_Brave_Little_Toaster"
    timeline-small="/gallery/movie-colors/images/brave-little-toaster-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/brave-little-toaster-timeline-large.jpg"
    all-frames=null
    average="/gallery/movie-colors/images/brave-little-toaster-average.jpg"
%}

<!-- Captain America -->
{% include movie-colors-section.html
    movie-title="Captain America"
    external-link="https://en.wikipedia.org/wiki/Captain_America:_The_First_Avenger"
    timeline-small="/gallery/movie-colors/images/captain-america-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/captain-america-timeline-large.jpg"
    all-frames=null
    average="/gallery/movie-colors/images/captain-america-average.jpg"
%}

<!-- Cloudy with a Chance of Meatballs -->
{% include movie-colors-section.html
    movie-title="Cloudy with a Chance of Meatballs"
    external-link="https://en.wikipedia.org/wiki/Cloudy_with_a_Chance_of_Meatballs_(film)"
    timeline-small="/gallery/movie-colors/images/cloudy-with-a-chance-of-meatballs-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/cloudy-with-a-chance-of-meatballs-timeline-large.png"
    all-frames="/gallery/movie-colors/images/cloudy-with-a-chance-of-meatballs-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/cloudy-with-a-chance-of-meatballs-average.png"
%}

<!-- Dawn of the Dead -->
{% include movie-colors-section.html
    movie-title="Dawn of the Dead"
    external-link="https://en.wikipedia.org/wiki/Dawn_of_the_Dead_(1978_film)"
    timeline-small="/gallery/movie-colors/images/dawn-of-the-dead-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/dawn-of-the-dead-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/dawn-of-the-dead-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/dawn-of-the-dead-average.jpg"
%}

<!-- Elf -->
{% include movie-colors-section.html
    movie-title="Elf"
    external-link="https://en.wikipedia.org/wiki/Elf_(film)"
    timeline-small="/gallery/movie-colors/images/elf-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/elf-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/elf-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/elf-average.jpg"
%}

<!-- Finding Nemo -->
{% include movie-colors-section.html
    movie-title="Finding Nemo"
    external-link="https://en.wikipedia.org/wiki/Finding_Nemo"
    timeline-small="/gallery/movie-colors/images/finding-nemo-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/finding-nemo-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/finding-nemo-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/finding-nemo-average.jpg"
%}

<!-- Harry Potter 1 -->
{% include movie-colors-section.html
    movie-title="Harry Potter and the Philosopher's Stone"
    external-link="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Philosopher%27s_Stone_(film)"
    timeline-small="/gallery/movie-colors/images/harry-potter-1-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/harry-potter-1-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/harry-potter-1-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/harry-potter-1-average.jpg"
%}

<!-- Harry Potter 2 -->
{% include movie-colors-section.html
    movie-title="Harry Potter and the Chamber of Secrets"
    external-link="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Chamber_of_Secrets_(film)"
    timeline-small="/gallery/movie-colors/images/harry-potter-2-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/harry-potter-2-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/harry-potter-2-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/harry-potter-2-average.jpg"
%}

<!-- Harry Potter 3 -->
{% include movie-colors-section.html
    movie-title="Harry Potter and the Prisoner of Azkaban"
    external-link="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Prisoner_of_Azkaban_(film)"
    timeline-small="/gallery/movie-colors/images/harry-potter-3-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/harry-potter-3-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/harry-potter-3-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/harry-potter-3-average.jpg"
%}

<!-- Harry Potter 4 -->
{% include movie-colors-section.html
    movie-title="Harry Potter and the Goblet of Fire"
    external-link="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Goblet_of_Fire_(film)"
    timeline-small="/gallery/movie-colors/images/harry-potter-4-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/harry-potter-4-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/harry-potter-4-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/harry-potter-4-average.jpg"
%}

<!-- Harry Potter 5 -->
{% include movie-colors-section.html
    movie-title="Harry Potter and the Order of the Phoenix"
    external-link="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Order_of_the_Phoenix_(film)"
    timeline-small="/gallery/movie-colors/images/harry-potter-5-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/harry-potter-5-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/harry-potter-5-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/harry-potter-5-average.jpg"
%}

<!-- Harry Potter 6 -->
{% include movie-colors-section.html
    movie-title="Harry Potter and the Half-Blood Prince"
    external-link="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Half-Blood_Prince_(film)"
    timeline-small="/gallery/movie-colors/images/harry-potter-6-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/harry-potter-6-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/harry-potter-6-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/harry-potter-6-average.jpg"
%}

<!-- Harry Potter 7 -->
{% include movie-colors-section.html
    movie-title="Harry Potter and the Deathly Hallows – Part 1"
    external-link="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Deathly_Hallows_%E2%80%93_Part_1"
    timeline-small="/gallery/movie-colors/images/harry-potter-7-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/harry-potter-7-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/harry-potter-7-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/harry-potter-7-average.jpg"
%}

<!-- Harry Potter 8 -->
{% include movie-colors-section.html
    movie-title="Harry Potter and the Deathly Hallows – Part 2"
    external-link="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Deathly_Hallows_%E2%80%93_Part_2"
    timeline-small="/gallery/movie-colors/images/harry-potter-8-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/harry-potter-8-timeline-large.jpg"
    all-frames="/gallery/movie-colors/images/harry-potter-8-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/harry-potter-8-average.jpg"
%}

<!-- Harry Potter (All) -->
{% include movie-colors-section.html
    movie-title="Harry Potter (All)"
    external-link="https://en.wikipedia.org/wiki/Harry_Potter_(film_series)"
    timeline-small=null
    timeline-large=null
    all-frames="/gallery/movie-colors/images/harry-potter-combined-all-frames-landscape-540.png"
    average=null
%}

<!-- Hidden Figures -->
{% include movie-colors-section.html
    movie-title="Hidden Figures"
    external-link="https://en.wikipedia.org/wiki/Hidden_Figures"
    timeline-small="/gallery/movie-colors/images/hidden-figures-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/hidden-figures-timeline-large.png"
    all-frames="/gallery/movie-colors/images/hidden-figures-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/hidden-figures-average.png"
%}

<!-- Inception -->
{% include movie-colors-section.html
    movie-title="Inception"
    external-link="https://en.wikipedia.org/wiki/Inception"
    timeline-small="/gallery/movie-colors/images/inception-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/inception-timeline-large.png"
    all-frames=null
    average="/gallery/movie-colors/images/inception-average.jpg"
%}

<!-- Incredible Hulk -->
{% include movie-colors-section.html
    movie-title="The Incredible Hulk"
    external-link="https://en.wikipedia.org/wiki/The_Incredible_Hulk_(film)"
    timeline-small="/gallery/movie-colors/images/incredible-hulk-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/incredible-hulk-timeline-large.png"
    all-frames=null
    average="/gallery/movie-colors/images/incredible-hulk-average.jpg"
%}

<!-- Incredibles 2 -->
{% include movie-colors-section.html
    movie-title="Incredibles 2"
    external-link="https://en.wikipedia.org/wiki/Incredibles_2"
    timeline-small="/gallery/movie-colors/images/incredibles-2-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/incredibles-2-timeline-large.png"
    all-frames=null
    average="/gallery/movie-colors/images/incredibles-2-average.jpg"
%}

<!-- Into the Wild -->
{% include movie-colors-section.html
    movie-title="Into the Wild"
    external-link="https://en.wikipedia.org/wiki/Into_the_Wild_(film)"
    timeline-small="/gallery/movie-colors/images/into-the-wild-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/into-the-wild-timeline-large.png"
    all-frames="/gallery/movie-colors/images/into-the-wild-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/into-the-wild-average.jpg"
%}

<!-- Iron Man -->
{% include movie-colors-section.html
    movie-title="Iron Man"
    external-link="https://en.wikipedia.org/wiki/Iron_Man_(2008_film)"
    timeline-small="/gallery/movie-colors/images/iron-man-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/iron-man-timeline-large.png"
    all-frames=null
    average="/gallery/movie-colors/images/iron-man-average.jpg"
%}

<!-- Iron Man 2 -->
{% include movie-colors-section.html
    movie-title="Iron Man 2"
    external-link="https://en.wikipedia.org/wiki/Iron_Man_2"
    timeline-small="/gallery/movie-colors/images/iron-man-2-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/iron-man-2-timeline-large.png"
    all-frames=null
    average="/gallery/movie-colors/images/iron-man-2-average.jpg"
%}

<!-- Iron Man 3 -->
{% include movie-colors-section.html
    movie-title="Iron Man 3"
    external-link="https://en.wikipedia.org/wiki/Iron_Man_3"
    timeline-small="/gallery/movie-colors/images/iron-man-3-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/iron-man-3-timeline-large.png"
    all-frames=null
    average="/gallery/movie-colors/images/iron-man-3-average.jpg"
%}

<!-- It -->
{% include movie-colors-section.html
    movie-title="It"
    external-link="https://en.wikipedia.org/wiki/It_(2017_film)"
    timeline-small="/gallery/movie-colors/images/it-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/it-timeline-large.png"
    all-frames="/gallery/movie-colors/images/it-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/it-average.jpg"
%}

<!-- John Wick 3 -->
{% include movie-colors-section.html
    movie-title="John Wick 3"
    external-link="https://en.wikipedia.org/wiki/John_Wick:_Chapter_3_%E2%80%93_Parabellum"
    timeline-small="/gallery/movie-colors/images/john-wick-3-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/john-wick-3-timeline-large.png"
    all-frames=null
    average="/gallery/movie-colors/images/john-wick-3-average.jpg"
%}

<!-- Joker -->
{% include movie-colors-section.html
    movie-title="Joker"
    external-link="https://en.wikipedia.org/wiki/Joker_(2019_film)"
    timeline-small=null
    timeline-large=null
    all-frames="/gallery/movie-colors/images/joker-all-frames-landscape-540.png"
    average=null
%}

<!-- Kingsman 2 -->
{% include movie-colors-section.html
    movie-title="Kingsman 2"
    external-link="https://en.wikipedia.org/wiki/Kingsman:_The_Golden_Circle"
    timeline-small="/gallery/movie-colors/images/kingsman-2-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/kingsman-2-timeline-large.png"
    all-frames=null
    average="/gallery/movie-colors/images/kingsman-2-average.jpg"
%}

<!-- Lego Movie 2 -->
{% include movie-colors-section.html
    movie-title="The Lego Movie 2"
    external-link="https://en.wikipedia.org/wiki/The_Lego_Movie_2:_The_Second_Part"
    timeline-small="/gallery/movie-colors/images/lego-movie-2-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/lego-movie-2-timeline-large.png"
    all-frames="/gallery/movie-colors/images/lego-movie-2-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/lego-movie-2-average.jpg"
%}

<!-- Logan -->
{% include movie-colors-section.html
    movie-title="Logan"
    external-link="https://en.wikipedia.org/wiki/Logan_(film)"
    timeline-small="/gallery/movie-colors/images/logan-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/logan-timeline-large.png"
    all-frames="/gallery/movie-colors/images/logan-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/logan-average.jpg"
%}

<!-- Lost Boys -->
{% include movie-colors-section.html
    movie-title="The Lost Boys"
    external-link="https://en.wikipedia.org/wiki/The_Lost_Boys"
    timeline-small="/gallery/movie-colors/images/lost-boys-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/lost-boys-timeline-large.png"
    all-frames="/gallery/movie-colors/images/lost-boys-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/lost-boys-average.jpg"
%}

<!-- Man of Steel -->
{% include movie-colors-section.html
    movie-title="Man of Steel"
    external-link="https://en.wikipedia.org/wiki/Man_of_Steel_(film)"
    timeline-small="/gallery/movie-colors/images/man-of-steel-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/man-of-steel-timeline-large.png"
    all-frames="/gallery/movie-colors/images/man-of-steel-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/man-of-steel-average.jpg"
%}

<!-- Matrix -->
{% include movie-colors-section.html
    movie-title="The Matrix"
    external-link="https://en.wikipedia.org/wiki/The_Matrix"
    timeline-small="/gallery/movie-colors/images/matrix-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/matrix-timeline-large.png"
    all-frames="/gallery/movie-colors/images/matrix-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/matrix-average.jpg"
%}

<!-- Moana -->
{% include movie-colors-section.html
    movie-title="Moana"
    external-link="https://en.wikipedia.org/wiki/Moana_(2016_film)"
    timeline-small=null
    timeline-large=null
    all-frames="/gallery/movie-colors/images/moana-all-frames-landscape-540.png"
    average=null
%}

<!-- Office Space -->
{% include movie-colors-section.html
    movie-title="Office Space"
    external-link="https://en.wikipedia.org/wiki/Office_Space"
    timeline-small="/gallery/movie-colors/images/office-space-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/office-space-timeline-large.png"
    all-frames="/gallery/movie-colors/images/office-space-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/office-space-average.jpg"
%}

<!-- Pan's Labyrinth -->
{% include movie-colors-section.html
    movie-title="Pan's Labyrinth"
    external-link="https://en.wikipedia.org/wiki/Pan%27s_Labyrinth"
    timeline-small=null
    timeline-large=null
    all-frames="/gallery/movie-colors/images/pans-labyrinth-all-frames-landscape-540.png"
    average=null
%}

<!-- Parasite -->
{% include movie-colors-section.html
    movie-title="Parasite"
    external-link="https://en.wikipedia.org/wiki/Parasite_(2019_film)"
    timeline-small=null
    timeline-large=null
    all-frames="/gallery/movie-colors/images/parasite-all-frames-landscape-540.png"
    average=null
%}

<!-- Ralph Breaks the Internet -->
{% include movie-colors-section.html
    movie-title="Ralph Breaks the Internet"
    external-link="https://en.wikipedia.org/wiki/Ralph_Breaks_the_Internet"
    timeline-small="/gallery/movie-colors/images/ralph-breaks-the-internet-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/ralph-breaks-the-internet-timeline-large.png"
    all-frames="/gallery/movie-colors/images/ralph-breaks-the-internet-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/ralph-breaks-the-internet-average.jpg"
%}

<!-- RoboCop -->
{% include movie-colors-section.html
    movie-title="RoboCop"
    external-link="https://en.wikipedia.org/wiki/RoboCop"
    timeline-small="/gallery/movie-colors/images/robocop-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/robocop-timeline-large.png"
    all-frames="/gallery/movie-colors/images/robocop-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/robocop-average.jpg"
%}

<!-- Shape of Water -->
{% include movie-colors-section.html
    movie-title="The Shape of Water"
    external-link="https://en.wikipedia.org/wiki/The_Shape_of_Water"
    timeline-small="/gallery/movie-colors/images/shape-of-water-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/shape-of-water-timeline-large.png"
    all-frames="/gallery/movie-colors/images/shape-of-water-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/shape-of-water-average.jpg"
%}

<!-- Shaun of the Dead -->
{% include movie-colors-section.html
    movie-title="Shaun of the Dead"
    external-link="https://en.wikipedia.org/wiki/Shaun_of_the_Dead"
    timeline-small="/gallery/movie-colors/images/shaun-of-the-dead-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/shaun-of-the-dead-timeline-large.png"
    all-frames="/gallery/movie-colors/images/shaun-of-the-dead-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/shaun-of-the-dead-average.jpg"
%}

<!-- Shazam! -->
{% include movie-colors-section.html
    movie-title="Shazam!"
    external-link="https://en.wikipedia.org/wiki/Shazam!_(film)"
    timeline-small="/gallery/movie-colors/images/shazam-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/shazam-timeline-large.png"
    all-frames="/gallery/movie-colors/images/shazam-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/shazam-average.jpg"
%}

<!-- Source Code -->
{% include movie-colors-section.html
    movie-title="Source Code"
    external-link="https://en.wikipedia.org/wiki/Source_Code"
    timeline-small="/gallery/movie-colors/images/source-code-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/source-code-timeline-large.png"
    all-frames="/gallery/movie-colors/images/source-code-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/source-code-average.jpg"
%}

<!-- Split -->
{% include movie-colors-section.html
    movie-title="Split"
    external-link="https://en.wikipedia.org/wiki/Split_(2016_American_film)"
    timeline-small="/gallery/movie-colors/images/split-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/split-timeline-large.png"
    all-frames="/gallery/movie-colors/images/split-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/split-average.jpg"
%}

<!-- Terminator Dark Fate -->
{% include movie-colors-section.html
    movie-title="Terminator: Dark Fate"
    external-link="https://en.wikipedia.org/wiki/Terminator:_Dark_Fate"
    timeline-small=null
    timeline-large=null
    all-frames="/gallery/movie-colors/images/terminator-dark-fate-all-frames-landscape-540.png"
    average=null
%}


<!-- Thor -->
{% include movie-colors-section.html
    movie-title="Thor"
    external-link="https://en.wikipedia.org/wiki/Thor_(film)"
    timeline-small="/gallery/movie-colors/images/thor-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/thor-timeline-large.png"
    all-frames="/gallery/movie-colors/images/thor-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/thor-average.jpg"
%}

<!-- Transformers -->
{% include movie-colors-section.html
    movie-title="Transformers"
    external-link="https://en.wikipedia.org/wiki/Transformers_(film)"
    timeline-small="/gallery/movie-colors/images/transformers-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/transformers-timeline-large.png"
    all-frames="/gallery/movie-colors/images/transformers-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/transformers-average.jpg"
%}

<!-- Unbreakable -->
{% include movie-colors-section.html
    movie-title="Unbreakable"
    external-link="https://en.wikipedia.org/wiki/Unbreakable_(film)"
    timeline-small="/gallery/movie-colors/images/unbreakable-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/unbreakable-timeline-large.png"
    all-frames=null
    average="/gallery/movie-colors/images/unbreakable-average.jpg"
%}

<!-- Us -->
{% include movie-colors-section.html
    movie-title="Us"
    external-link="https://en.wikipedia.org/wiki/Us_(2019_film)"
    timeline-small="/gallery/movie-colors/images/us-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/us-timeline-large.png"
    all-frames="/gallery/movie-colors/images/us-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/us-average.jpg"
%}

<!-- Venom -->
{% include movie-colors-section.html
    movie-title="Venom"
    external-link="https://en.wikipedia.org/wiki/Venom_(2018_film)"
    timeline-small="/gallery/movie-colors/images/venom-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/venom-timeline-large.png"
    all-frames="/gallery/movie-colors/images/venom-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/venom-average.jpg"
%}

<!-- Wonder Woman -->
{% include movie-colors-section.html
    movie-title="Wonder Woman"
    external-link="https://en.wikipedia.org/wiki/Wonder_Woman_(2017_film)"
    timeline-small="/gallery/movie-colors/images/wonder-woman-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/wonder-woman-timeline-large.png"
    all-frames="/gallery/movie-colors/images/wonder-woman-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/wonder-woman-average.jpg"
%}

<!-- X-Men Apocalypse -->
{% include movie-colors-section.html
    movie-title="X-Men: Apocalypse"
    external-link="https://en.wikipedia.org/wiki/X-Men:_Apocalypse"
    timeline-small="/gallery/movie-colors/images/x-men-apocalypse-timeline-small.png"
    timeline-large="/gallery/movie-colors/images/x-men-apocalypse-timeline-large.png"
    all-frames="/gallery/movie-colors/images/x-men-apocalypse-all-frames-landscape-540.png"
    average="/gallery/movie-colors/images/x-men-apocalypse-average.jpg"
%}

<!-- X-Men Dark Phoenix -->
{% include movie-colors-section.html
    movie-title="X-Men: Dark Phoenix"
    external-link="https://en.wikipedia.org/wiki/Dark_Phoenix_(film)"
    timeline-small=null
    timeline-large=null
    all-frames="/gallery/movie-colors/images/x-men-dark-phoenix-all-frames-landscape-540.png"
    average=null
%}