---
title: Server Tutorials
layout: default
thumbnail: /tutorials/java-server/images/servlets-6.png
categories: [tutorials, java]
meta-title: Java Server Tutorials
meta-description: Learn how to create dynamic web apps!
meta-image: /tutorials/java-server/images/servlets-7.png
sort-key: 500
---

<h1>Java Server Tutorials</h1>

<p>These tutorials assume you're already familiar with the basics of programming and that you've already read <a href="/tutorials/java/">the Java tutorials</a>. You should also be familiar with client-side web programming from the <a href="/tutorials/html/">HTML</a> and <a href="/tutorials/javascript/">JavaScript</a> tutorials.</p>

{% include url-thumbnail.html url="/tutorials/java-server/jetty-setup" %}
{% include url-thumbnail.html url="/tutorials/java-server/servlets" %}
{% include url-thumbnail.html url="/tutorials/java-server/jsp" %}
{% include url-thumbnail.html url="/tutorials/java-server/mvc" %}
{% include url-thumbnail.html url="/tutorials/java-server/eclipse-ee" %}
{% include url-thumbnail.html url="/tutorials/java-server/post" %}
{% include url-thumbnail.html url="/tutorials/java-server/sessions" %}
{% include url-thumbnail.html url="/tutorials/java-server/thread-safety" %}
{% include url-thumbnail.html url="/tutorials/java-server/hosting-aws" %}
{% include url-thumbnail.html url="/tutorials/java-server/hosting-google-app-engine" %}
{% include url-thumbnail.html url="/tutorials/java-server/libraries" %}
{% include url-thumbnail.html url="/tutorials/java-server/databases" %}
{% include url-thumbnail.html url="/tutorials/java-server/uploading-files" %}

<h1>Advanced</h1>

{% include url-thumbnail.html url="/tutorials/java-server/rest-api" %}