---
title: Google Cloud Tutorials
layout: left-and-right-navs
thumbnail: /tutorials/google-cloud/images/google-cloud-icon-1.png
categories: [tutorials, java]
meta-title: Google Cloud Tutorials
meta-description: Learn how to use Google Cloud to create apps and websites!
meta-image: /tutorials/google-cloud/images/google-cloud-icon-2.png
redirect_from: /examples/google-cloud
previousPost: /tutorials/
nextPost: /tutorials/google-cloud/setup
sort-key: 700
---

<div class="section content">

  <h1>Google Cloud Tutorials</h1>

  <p><a href="https://cloud.google.com/">Google Cloud</a> is a collection of tools, libraries, frameworks, and services that allow you to run code using the power of Google's infrastructure.</p>

  <p>Google Cloud contains a lot of really fun stuff, but it's not exactly friendly to novices. Before jumping into these tutorials, make sure you're familiar with <a href="/tutorials/java">Java</a>. Specifically, make sure you're comfortable with <a href="/tutorials/java/inheritance">OOP and inheritance</a> <a href="/tutorials/java/libraries">classpath and libraries</a>.</p>

  <p>The full code for the examples used in these tutorials is available on <a href="https://github.com/KevinWorkman/GoogleCloudExamples">GitHub</a></p>.

  <p>These tutorials have been updated to use Java 11 and the latest Cloud SDK.</p>

  {% include tutorial-chapter.html url="/tutorials/google-cloud/setup" chapter=1 %}

</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/google-cloud/app-engine" chapter=2 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/google-cloud/datastore" chapter=3 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/google-cloud/oauth-2" chapter=4 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/google-cloud/cloud-storage" chapter=5 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/google-cloud/vision" chapter=6 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/google-cloud/natural-language" chapter=7 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/google-cloud/translation" chapter=8 %}
</div>

<div class="section content">
  {% include tutorial-chapter.html url="/tutorials/google-cloud/maps" chapter=9 %}
</div>

<div class="section content">

  <h1>Migrating Google Cloud from Java 8 to Java 11</h1>

<p>Have an existing Java 8 Google Cloud project that you want to migrate to Google Cloud's Java 11 runtime? Follow this guide:</p>

  {% include tutorial-chapter.html url="/tutorials/google-cloud/migrating-to-java-11" %}
</div>

<div class="section content">

  <h1>Legacy Java 8 Tutorials</h1>

  <p>These tutorials use Java 8 and the standalone App Engine SDK, which is now deprecated. I'm leaving these for reference.</p>

  <div class="thumbnail-link-container">
  {% include url-thumbnail.html url="/tutorials/google-cloud/java-8/setup" %}
  {% include url-thumbnail.html url="/tutorials/google-cloud/java-8/app-engine" %}
  {% include url-thumbnail.html url="/tutorials/google-cloud/java-8/datastore" %}
  {% include url-thumbnail.html url="/tutorials/google-cloud/java-8/authentication" %}
  {% include url-thumbnail.html url="/tutorials/google-cloud/java-8/blobstore" %}
  </div>
</div>
